.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
  }
  
  .centered-form {
    width: 80%;
  }
  .copy{
    font-size: 12px;
    margin-top: 40%;
    text-align: center;
  }
