<app-header [backButton]=true pageTitle="Detalle del destino" [logoutbtn]=false ></app-header>


<ion-content [fullscreen]="true">
  <ion-card>
    <div class="img_conn" [style.background-image]="'url(' + info?.img + ')'"></div>
    <ion-card-header>
      <ion-card-title class="title">{{ info?.title }}</ion-card-title>
      <ion-card-subtitle style="font-weight: 600;">${{ info?.price | number }} / Noche</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ info?.description }}

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button class="btn" color="primary"  type="submit">Reservar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
