<app-header [backButton]=false pageTitle="Destinos de viaje" [logoutbtn]=true ></app-header>

<ion-content [fullscreen]="true">
  <!-- <ion-card> -->
  <ion-grid>
      <ion-row>
        <ion-col size="12" >
          <ion-select
                label="Destino:"
                [interfaceOptions]="customActionSheetOptions"
                interface="action-sheet"
                placeholder="Seleccionar destino"
                cancelText="Cancelar"
                (ionChange)="handleChange($event)"
                [value]="idDestinationDefault"
              >
              <ion-select-option *ngFor="let item of destinarions" [value]="item.id">{{ item.name }}</ion-select-option>
            </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- </ion-card> -->
  <!-- list -->
  
  <ion-list *ngIf="!loaded">
    <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1]">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="loaded">
    <ion-card *ngFor="let accommodation of accommodations" (click)="detail(accommodation)">
      <app-accommodation [accommodation]="accommodation"></app-accommodation>
    </ion-card>
  </ion-list>
  
</ion-content>
