<app-header [backButton]=true pageTitle="Confirmación de reserva" [logoutbtn]=false ></app-header>


<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title class="title">{{ info?.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p>!Gracias por elegirnos!</p> 
          <p>Tenemos muchas ganas de recibirte.</p><br>
        <p style="font-weight: 700;">Datos de tu reserva:</p> 
        <p>Número de confirmación: <strong>#{{reservationNum}}</strong></p>
        <p>Tipo de habitación: <strong> Habitación estandar.</strong></p>
        <p>Total: <strong>${{ info?.price | number }} / Noche</strong></p>
      
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="7">
        <ion-button class="btn" (click)="reservation()" style="margin: 4px;"  color="primary">Confirmar Reserva</ion-button>
      </ion-col>
      <ion-col size="5">
        <ion-button (click)="cancel()" fill="outline">Cancelar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
